.master-details__master-list-container {
    min-width: 20%;
    min-height: 100px;
    border: solid 1px rgb(222, 226, 230);
    border-radius: 5px;
    overflow-y:scroll;
}

.master-details__details-container {
    min-width: 80%;
    min-height: 100px;
    border: solid 1px rgb(222, 226, 230);
    border-radius: 5px;
}